# Mbed OS
*.mbed
mbed-os
*mbed-os.lib
*mbed_settings.*
BUILD

# Eclipse
.metadata
RemoteSystemsTempFiles
*.cproject
*.project
*.classpath

# Visual Studio Code
.vscode
*.code-workspace

# Microsoft Office Lock Files
*~$*