# Mbed OS
*.mbed
mbed-os
*mbed-os.lib
*mbed_settings.*
BUILD

# Eclipse
.metadata
RemoteSystemsTempFiles
*.cproject

# Visual Studio Code
*.code-workspace

# Precompiled headers
ipch

# Microsoft Office Lock Files
*~$*