main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.about, .config {
  border-color: #981E32;
  border-color: var(--color-tertiary);
  border-style: solid;
}

.about {
  flex: 0.6;
  padding: 0.5rem;
  border-width: 0 0.1rem 0 0;
}

.about img {
  width: 30%;
  float: left;
  margin: 0.5rem;
}

.config {
  flex: 0.4;
  padding: 0.5rem;
  border-width: 0 0 0 0.1rem;
  min-height: 100%;
}

.config>p>span {
  width: 40%;
}

.config hr {
  border-style: solid;
  border-width: 1px;
}

.config input[type="text"], .config input[type="number"] {
  width: 80%;
}