main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.pane {
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: #981E32;
  border-color: var(--color-tertiary);
  border-style: solid;
}

.pane>table {
  width: 70%;
  max-width: 400px;
}

.pane>table td:nth-child(2) {
  width: 40%;
}

.pane select {
  width: 100%;
}

.pane.left {
  border-width: 0 0.1rem 0 0;
}

.pane.right {
  border-width: 0 0 0 0.1rem;
}

.chart {
  /* width: 50%; */
  flex-grow: 1;
}